<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <title>Meu perfil profissional</title>
</head>


<body>

  <!--Painel lateral-->
  <aside id="header">

    <!--Seção perfil com foto e links rápidos-->
    <section class="perfil pt-3">
      <img src="./assets/Renato Santos.jfif" alt="FotoPerfil">
      <h1>Renato Santos</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.linkedin.com/in/renato-de-freitas-santos-465a9519a/">
          <i class="bi bi-linkedin"></i>
        </a>

        <a target="_blank" href="https://www.instagram.com/renatofsaint/">
          <i class="bi bi-instagram"></i>
        </a>

        <a target="_blank" href="https://github.com/Dream-Cancel?tab=repositories">
          <i class="bi bi-github"></i>
        </a>

      </div>
    </section>
    

    <!--NavBar do bootstrap com ícones e ancoração da página-->
    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#inicio">
            <i class="bi bi-house-door">
            </i>Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person"></i>Sobre mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#formação"><i class="bi bi-book"></i>Formação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portifolio"><i class="bi bi-briefcase"></i>Portifólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i>Contato</a>
        </li>
      </ul>
    </nav>
  </aside>


  <!--Main que armazena todas as sections criadas-->
  <main id="main">

    <!--Seção início com uma capa-->
    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Renato Santos</h2>
        <span id="subtitulo" class="text-white text-shadow">QA Analist Pleno | Automated tester | Gamer</span>
      </div>

    </section>

    <!--Sistema grid do bootstrap fechando o espaço inicial da parte "Sobre"
    Sobre mim: -->
    <section class="container mt-4" id="sobre">
      <div class="row w-100">
        <!--Sobre mim-->
        <div class="col-md-12">
          <h2 class="pt-3">Sobre</h2>
          <p>
            Casado a 12 anos, tenho uma filha e adoro música e fighting games.
            <br>
            Tenho facilidade em absorver conhecimento e aplica-lo no meu dia a dia, e sempre busco crescimento.
            <br>
            Ao longo de minha carreira desenvolvi muito minhas soft-skiils, em destaque a comunicação, empatia e a
            capacidade de
            solucionar problemas.
          </p>
        </div>


      </div>

      <!--Divisão em grid do bootstrap: um espaço com 4 blocos(foto) e outro com 8(conteudo sobre trabalho)
       Dentro do bloco com 8 há outros 2 grids do bootstrap 6x6 para utilizar a Lista flush do bootstrap-->
      <div class="row">
        <div class="col-md-4 mt-4">
          <img class="img-fluid shadow" src="../assets/Renato Santos.jfif" alt="Foto Renato">
        </div>
        <div class="col-md-8">
          <h3 class="mt-3">
            QA • Automation Testing | Pleno
          </h3>
          <p>
            Atuo como QA na empresa NTTData a pouco mais de 1 ano, participo do processo do desenvolvimento de software
            desde o
            levantamento de requisitos até o delivery.
            Participo na escrita de <b>"user stories"</b> - Um dos componentes principais de um programa ágil. Elas
            possibilitam uma estrutura
            centrada no usuário para o trabalho diário, o que impulsiona a colaboração, a criatividade e um produto
            melhor em geral.
            Escrevo scripts de teste para serem executados que garantem a boa qualidade das aplicações.
            <br>
            A partir destes scripts de teste evoluo testes automatizados,sejam <b>testes de API(Postman, Restassured
              JUnit) e
              WEB(Sellenium Java)</b>, possuo conhecimento em banco de dados <b>Oracle e Postrgres</b>.
            <br>
            Tenho experiência em projetos relacionados a área de previdência privada e saúde(Contas-Médicas) Salesforce.
          </p>

          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-6">
                <li class="list-group-item">
                  Aniverário: <span class="fw-lighter">9 de Agosto de 1990</span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">32 anos</span>
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">Uberlândia</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">Minas Gerais</span>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-6">
                <li class="list-group-item">
                  Empresa: <span class="fw-lighter">NTTData</span>
                </li>
                <li class="list-group-item">
                  Cargo <span class="fw-lighter">QA Analist</span>
                </li>
                <li class="list-group-item">Tempo: <span class="fw-lighter">1 ano e 2 meses</span>
                </li>
                <li class="list-group-item">
                  Atualmente: <span class="fw-lighter">Automação em projeto Salesforce</span>
                </li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </section>

    <!--Formação, usado o mesmo esquema de divisão de página que a área "Sobre"
        Colocado um HR separando das duas listas a formação acadêmica e Idioma dos cursos feitos/em andamento 
        com um link de direcionamento para uma nova página para cada um deles-->

    <section class="container mt-4" id="formação">
      <div class="row w-100">
        <div class="col-md-4 mt-4">
          <div class="mt-4"></div>
          <img class="img-fluid" src="../assets/pilhaLivros.png" alt="Foto Renato">
        </div>
        <div class="col-md-8">

          <div class="row mt-5">
            <h3>Formação</h3>
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-6 mt-4">
                <li class="list-group-item">
                  Faculdade: <span class="fw-lighter">UNINTER 2021-2023</span>
                </li>
                <li class="list-group-item">
                  Idiomas: <span class="fw-lighter">Inglês</span>
                </li>
                <hr>
                <li class="list-group-item">
                  CTFL: <a class="fw-lighter text-decoration-none link-dark" target="_blank"
                    href="https://bstqb.org.br/b9/sobre-ctfl">
                    Em andamento - link
                  </a>
                </li>


                <li class="list-group-item">PTQS:
                  <a class="fw-lighter text-decoration-none link-dark" target="_blank"
                    href="http://programa.juliodelima.com.br/">
                    2021 turma 2 - link
                  </a>
                </li>
                <li class="list-group-item">
                  Integração Contínua com testes:
                  <a class="fw-lighter text-decoration-none link-dark" target="_blank"
                    href="https://www.udemy.com/course/integracao-continua-jenkins/">
                    2022 - link
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-6 mt-4">
                <li class="list-group-item">
                  Curso: <span class="fw-lighter">Análise e Desenvolvimento de Sistemas</span>
                </li>
                <li class="list-group-item">
                  Nível: <span class="fw-lighter">B1</span>
                </li>
                <hr>
                <li class="list-group-item">
                  Testes automatizados com Cypress:
                  <a class="fw-lighter text-decoration-none link-dark" target="_blank"
                    href="https://www.udemy.com/course/testes-automatizados-com-cypress-intermediario/">
                    2022 - link
                  </a>
                </li>
                <li class="list-group-item">
                  Automação de API Rest com Postman:
                  <a class="fw-lighter text-decoration-none link-dark" target="_blank"
                    href="https://www.udemy.com/course/automacao-de-testes-de-api-com-postman-projeto-de-testes/">
                    2021 - link
                  </a>
                </li>
                <li class="list-group-item">
                  Testes unitários em JAVA:
                  <a class="fw-lighter text-decoration-none link-dark" target="_blank"
                    href="https://www.udemy.com/course/testes-unitarios-em-java/">
                    2022 - link
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Link para meu git com um pouco do que ja desenvolvi-->
    <section class="mt-5" id="portifolio">
      <img src="../assets/banner.png" alt="Git Banner">
      <div class="container mt-5">
        <div class="row w-100">
          <div class="col md-12">
            <h2>Um pouco do que já realizei</h2>
          </div>
          <i class="bi bi-git giticon mt-5">
            <a class="fw-lighter text-decoration-none link-dark" target="_blank"
              href="https://github.com/Dream-Cancel?tab=repositories">Meu GitHub
            </a>
          </i>
        </div>
      </div>
    </section>

    <hr>

    <!--Seção de Contato
    Abre um modal do bootstrap ao click para preencher formulario de envio de email-->
    <section class="container mt-4" id="contato">
      <div class="row w-100">
        <!--Contato-->
        <div class="col-md-12">
          <h2 class="pt-3">Contato</h2>
          <h5>
            <br>
            Olá! Gostou do perfil? 
            <br>
            <br>
            Clique no botão para enviar um email  <i class="bi bi-arrow-right m-lg-5"></i>
            <input class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm" type="submit" value="Submit"> 
            <br>
            <br>
            <br>                
          </h5>

          <!--Modal bootstrap que recebe formulário para entrar em contato-->
          <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Envie seu email</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <!--Formulário com email Assunto e Mensagem-->
                  <div class="mb-3">
                    <label for="exampleFormControlInputEmail" class="form-label">Informe seu email</label>
                    <input type="email" class="form-control" id="exampleFormControlInputEmail" placeholder="name@example.com">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextareaAssunto" class="form-label">Assunto:</label>
                    <textarea class="form-control" id="exampleFormControlTextareaAssunto" rows="1"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Digite sua mensagem:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
                <div class="modal-footer">

                  <!--Botões Cancelar e Enviar email-->
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

</body>

</html>